.Estilo1 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}
.Estilo3 {font-family: "Times New Roman", Times, serif}
.Estilo4 {font-family: "Times New Roman", Times, serif; font-weight: bold; }
